{% extends "base.html" %}
{% block title %}PSD Planner{% endblock %}
{% block head  %}
<link rel="stylesheet" type="text/css" href="/static/lib/ext/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/ext/examples/shared/example.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="/static/lib/ext/bootstrap.js"></script>
    <script type="text/javascript" src="/static/lib/ajaxCSRFfix.js"></script>
    <script type="text/javascript" src="/static/lib/psd.js"></script>

{% endblock %}
{% block content %}
		    <div id="tabs"></div>
{% endblock %}
